<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Company</th>
      <th>Primary phone</th>
      <th>Secondary phone</th>
      <th>Email</th>
      <th>Position</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first %></td>
        <td><%= contact.last %></td>
        <td><%= contact.company %></td>
        <td><%= contact.primary_phone %></td>
        <td><%= contact.secondary_phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.position %></td>
        <td><%= contact.notes %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
