<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @contact.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @contact.last %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @contact.primary_phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @contact.secondary_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @contact.position %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
